<%- include('./components/head') %> <%- include('./components/navbar') %>
<!-- Masthead-->
<header class="masthead">
  <div
    class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center"
  >
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <h1 class="mx-auto my-0 text-uppercase">Synrgy</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Semoga sehat selalu</h2>
      </div>
    </div>
  </div>
</header>
<%- include('./components/footer') %>
