<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs'); %>

  <body>
    <h1>Hallo Student</h1>

    <a href="https://google.com" class="btn btn-primary">Go to Google</a>
  </body>
</html>
